html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1 {
  font-size: 40px;
  text-align: center;
}
h2 {
  font-size: 30px;
}
.search-input__container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.search-input {
  height: 30px;
  width: 180px;
  font-size: 16px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.country-info {
  width: 350px;
}
.main-container {
  margin: 0 auto;
}
.list-li {
  margin-top: 10px;
  font-size: 18px;
  margin-left: 45%;
}
#page-container {
  margin: 5vh;
  padding: 0;
  height: 90vh;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
}
.flag_container {
  margin-left: 40px;
}
body {
  background-color: rgb(231, 218, 218);
}
